.App {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
/* -------- header------- */
img {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.stay-updated {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}
.join {
  max-width: 400px;
}
.text-corroction {
  display: flex;
}
/* ----------main---------- */
.custom-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.custom-list li {
  margin-bottom: 15px;
}

.custom-list li:before {
  content: "";
  display: inline-block;
  width: 20px; /* Adjust the width to the size of your custom bullet image */
  height: 20px; /* Adjust the height to the size of your custom bullet image */
  background-image: url("./images/icon-list.svg"); /* Replace 'path/to/your-image.png' with the actual path to your image */
  background-size: cover;
  margin-right: 5px; /* Adjust the spacing between the bullet image and the list item */
}
/* -------------footer--------- */
.email-form {
  display: flex;
  flex-direction: column;
  width: 327px;
}

footer {
  display: flex;
  justify-content: center;
}
.label-data {
  display: flex;
  gap: 100px;
  font-size: 14px;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 5px; /* Adjust the spacing as needed */
  font-size: 12px;
  font-weight: 800;
}
.email-input {
  margin-bottom: 15px;
  padding: 5px 20px;
  border: 1px solid hsl(231, 7%, 60%);
}
.email-input::placeholder {
  text-indent: 10px; /* Adjust the value as needed */
}
.submit-button {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  background-color: black;
  cursor: pointer;
}
.dismiss-btn:hover {
  background-color: hsl(4, 100%, 67%);
}

.email-input,
.submit-button {
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin: 0 auto 20px 0;
}

.email-input-invalid {
  outline: 3px solid red;
}

/* -------- iconSuccess-------- */
.success-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.success-text {
  max-width: 300px;
}
.iconSuccess {
  width: 60px;
  height: 60px;
}
.email-bold {
  font-weight: 700;
}
.dismiss-btn {
  width: 100%;
}

@media (max-width: 767px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .join {
    max-width: 400px;
  }
  .success-text {
    margin-top: 200px;
  }
  .dismiss-btn {
    margin-top: 200px;
  }
}
